
<% if !Helpers.is_logged_in?(session) %>
<h1> Sign Up Here! </h1>
<br>
<br>
    <form method='POST' action='/doctors/signup'>
        
        <label>Create Username: </label>
        <input type='text' name='username' id='username'>

        <label>Create Password: </label>
        <input type='text' name='password' id='password'>

        <br>
        <br>
        
        <input type='submit' value='Create User' id='submit'>
    </form>
<% end %>