
<% if !Helpers.is_logged_in?(session) %>
<h1> Welcome <%= @current_doctor.username.capitalize! %>! </h1>
    <form method='POST' action='/doctors/signup'>
        
        <label>Create Username: </label>
        <input type='text' name='username' id='username'>
        
        <label>Enter Email: </label>
        <input type='text' name='email' id='email'>

        <label>Create Password: </label>
        <input type='text' name='password' id='password'>

        <br>
        <br>
        
        <input type='submit' value='Create User' id='submit'>
    </form>
<% end %>